---
## metadata for Audit benchmark
benchmark_version: '3.1.1'

# Set if genuine RHEL (subscription manager check) not for derivatives e.g. CentOS
is_redhat_os: {% if ansible_distribution == "RedHat" %}true{% else %}false{% endif %}

# timeout for each command to run where set - default = 10seconds/10000ms
timeout_ms: {{ audit_cmd_timeout }}

# Taken from LE rhel7-cis
linuxcis_notauto: {{ linuxcis_notauto }}
linuxcis_section1: {{ linuxcis_section1 }}
linuxcis_section2: {{ linuxcis_section2 }}
linuxcis_section3: {{ linuxcis_section3 }}
linuxcis_section4: {{ linuxcis_section4 }}
linuxcis_section5: {{ linuxcis_section5 }}
linuxcis_section6: {{ linuxcis_section6 }}

linuxcis_selinux_disable: {{ linuxcis_selinux_disable }}
linuxcis_selinux_state: {{ linuxcis_selinux_state }}


linuxcis_level1: true
linuxcis_level2: true
# to enable rules that may have IO impact on a system e.g. full filesystem scans or CPU heavy
run_heavy_tests: true

linuxcis_legacy_boot: {{ linuxcis_legacy_boot }}

# These variables correspond with the CIS rule IDs or paragraph numbers defined in
# the CIS benchmark documents.
# PLEASE NOTE: These work in coordination with the section # group variables and tags.
# You must enable an entire section in order for the variables below to take effect.

{% for cis_section in section_names %}
{{ cis_section }}: {{ section_names[cis_section] not in disabled_cis_rules }}
{% endfor %}


# Service configuration booleans set true to keep service
linuxcis_avahi_server: {{ linuxcis_avahi_server }}
linuxcis_cups_server: {{ linuxcis_cups_server }}
linuxcis_dhcp_server: {{ linuxcis_dhcp_server }}
linuxcis_ldap_server: {{ linuxcis_ldap_server }}
linuxcis_telnet_server: {{ linuxcis_telnet_server }}
linuxcis_nfs_server: {{ linuxcis_nfs_server }}
linuxcis_rpc_server: {{ linuxcis_rpc_server }}
linuxcis_ntalk_server: {{ linuxcis_ntalk_server }}
linuxcis_rsyncd_server: {{ linuxcis_rsyncd_server }}
linuxcis_tftp_server: {{ linuxcis_tftp_server }}
linuxcis_rsh_server: {{ linuxcis_rsh_server }}
linuxcis_nis_server: {{ linuxcis_nis_server }}
linuxcis_snmp_server: {{ linuxcis_snmp_server }}
linuxcis_squid_server: {{ linuxcis_squid_server }}
linuxcis_smb_server: {{ linuxcis_smb_server }}
linuxcis_dovecot_server: {{ linuxcis_dovecot_server }}
linuxcis_httpd_server: {{ linuxcis_httpd_server }}
linuxcis_vsftpd_server: {{ linuxcis_vsftpd_server }}
linuxcis_named_server: {{ linuxcis_named_server }}
linuxcis_nfs_rpc_server: {{ linuxcis_nfs_rpc_server }}
linuxcis_is_mail_server: {{ linuxcis_is_mail_server }}
linuxcis_bind: {{ linuxcis_bind }}
linuxcis_vsftpd: {{ linuxcis_vsftpd }}
linuxcis_httpd: {{ linuxcis_httpd }}
linuxcis_dovecot: {{ linuxcis_dovecot }}
linuxcis_samba: {{ linuxcis_samba }}
linuxcis_squid: {{ linuxcis_squid }}
linuxcis_net_snmp: {{ linuxcis_net_snmp}}
linuxcis_allow_autofs: {{ linuxcis_allow_autofs }}

# client services
linuxcis_openldap_clients_required: {{ linuxcis_openldap_clients_required }}
linuxcis_telnet_required: {{ linuxcis_telnet_required }}
linuxcis_talk_required: {{ linuxcis_talk_required }}
linuxcis_rsh_required: {{ linuxcis_rsh_required }}
linuxcis_ypbind_required: {{ linuxcis_ypbind_required }}

# AIDE
linuxcis_config_aide: {{ linuxcis_config_aide }}
# aide setup via - cron, timer
rhel7_aide_scan: cron

# AIDE cron settings
linuxcis_aide_cron:
  cron_user: {{ linuxcis_aide_cron.cron_user }}
  cron_file: '{{ linuxcis_aide_cron.cron_file }}'
  aide_job: ' {{ linuxcis_aide_cron.aide_job }}'
  aide_minute: '{{ linuxcis_aide_cron.aide_minute }}'
  aide_hour: '{{ linuxcis_aide_cron.aide_hour }}'
  aide_day: '{{ linuxcis_aide_cron.aide_day }}'
  aide_month: '{{ linuxcis_aide_cron.aide_month }}'
  aide_weekday: '{{ linuxcis_aide_cron.aide_weekday }}'

# 1.4.1 Bootloader password
linuxcis_bootloader_file: {{ UEFI_BOOTLOADER_PATH }}grub.cfg
linuxcis_bootloader_user: {{ UEFI_BOOTLOADER_PATH }}user.cfg
linuxcis_bootloader_password: {{ linuxcis_bootloader_password_hash }}
linuxcis_set_boot_pass: {{ linuxcis_set_boot_pass }}

# Warning Banner Content (issue, issue.net, motd)
linuxcis_warning_banner: {{ linuxcis_warning_banner }}
# End Banner

# Set to 'true' if X Windows is needed in your environment
linuxcis_xwindows_required: {{ linuxcis_xwindows_required }}

# Whether or not to run tasks related to auditing/patching the desktop environment
linuxcis_gui: {{ linuxcis_gui }}

# xinetd required
linuxcis_xinetd_required: {{ linuxcis_xinetd_required }}

# IPv6 required
linuxcis_ipv6_required: {{ linuxcis_ipv6_required }}

# System network parameters (host only OR host and router)
linuxcis_is_router: {{ linuxcis_is_router }}

# Time Synchronization
linuxcis_time_synchronization: {{ linuxcis_time_synchronization }}

redhatcis_firewall: {{ redhatcis_firewall }}
# redhatcis_firewall: iptables
linuxcis_default_firewall_zone: {{ linuxcis_default_zone }}
linuxcis_firewall_interface:
- ['ens224']
- ['ens192']
linuxcis_firewall_services: {{ linuxcis_firewall_services }}

# Section 4
# auditd settings
linuxcis_auditd:
  space_left_action: {{ linuxcis_auditd.space_left_action}}
  action_mail_acct: {{ linuxcis_auditd.action_mail_acct }}
  admin_space_left_action: {{ linuxcis_auditd.admin_space_left_action }}
  max_log_file_action: {{ linuxcis_auditd.max_log_file_action }}
  auditd_backlog_limit: {{ linuxcis_audit_backlog_limit }}

# syslog
{% if linuxcis_syslog == "rsyslog" %}
linuxcis_rsyslog: true
{% endif %}

# Section 5
linuxcis_sshd_limited: false
#Note the following to understand precedence and layout
linuxcis_sshd_access:
- AllowUser
- AllowGroup
- DenyUser
- DenyGroup

linuxcis_ssh_strong_ciphers:  Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128- gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
linuxcis_ssh_weak_ciphers:
- 3des-cbc
- aes128-cbc
- aes192-cbc
- aes256-cbc
- arcfour
- arcfour128
- arcfour256
- blowfish-cbc
- cast128-cbc
- rijndael-cbc@lysator.liu.se

linuxcis_ssh_strong_macs:  MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-sha2- 512,hmac-sha2-256
linuxcis_ssh_weak_macs:
- hmac-md5
- hmac-md5-96
- hmac-ripemd160
- hmac-sha1
- hmac-sha1-96
- umac-64@openssh.com
- umac-128@openssh.com
- hmac-md5-etm@openssh.com
- hmac-md5-96-etm@openssh.com
- hmac-ripemd160-etm@openssh.com
- hmac-sha1-etm@openssh.com
- hmac-sha1-96-etm@openssh.com
- umac-64-etm@openssh.com
- umac-128-etm@openssh.com

linuxcis_ssh_strong_kex: KexAlgorithms curve25519-sha256,curve25519-sha256@libssh.org,diffie-hellman- group14-sha256,diffie-hellman-group16-sha512,diffie-hellman-group18-sha512,ecdh-sha2-nistp521,ecdh-sha2-nistp384,ecdh-sha2-nistp256,diffie-hellman-group-exchange-sha256
linuxcis_ssh_weak_kex:
- diffie-hellman-group1-sha1
- diffie-hellman-group14-sha1
- diffie-hellman-group-exchange-sha1

linuxcis_ssh_aliveinterval: "300"
linuxcis_ssh_countmax: "3"

linuxcis_sugroup: {{ linuxcis_sugroup| default('wheel') }}


## PAM
linuxcis_pam_password:
  - minclass = 4
linuxcis_pam_passwd_retry: "3"
# faillock or tally2
linuxcis_accountlock: faillock

## note this is to skip tests
skip_linuxcis_pam_passwd_auth: true
skip_linuxcis_pam_system_auth: true

# choose one of below
linuxcis_pwhistory_so: "14"
linuxcis_unix_so: false
linuxcis_passwd_remember: "{{ linuxcis_pam_faillock.remember }}"

# logins.def password settings
linuxcis_pass_max_days: {{ linuxcis_pass.max_days }}
linuxcis_pass_min_days: {{ linuxcis_pass.min_days }}
linuxcis_pass_warn_age: {{ linuxcis_pass.warn_age }}
